/* WebLi Fonts CSS */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Noto+Sans");

/* Mobile-Only Styles */
@media only screen and (max-width: 768px) {
  #appbar > span span {
    /* Position */
    position: absolute;
    bottom: 16px;
    left: 64px;
  }
  
  body {
    /* Text */
    font-size: 14px;
  }
  
  .subheading {
    /* Text */
    font-size: 16px;
  }
}

/* Desktop-Only Styles */
@media only screen and (min-width: 769px) {
  #appbar > span span {
    /* Position */
    position: absolute;
    bottom: 20px;
    left: 72px;
  }
  
  body {
    /* Text */
    font-size: 13px;
  }
  
  .subheading {
    /* Text */
    font-size: 15px;
  }
}

/* Default Styles */

body {
  /* Text */
  font-family: "Roboto", "Noto Sans", sans-serif;
  font-weight: 400;
  /* Colour */
  color: rgba(0, 0, 0, 0.87);
}

.title {
  /* Text */
  font-size: 20px;
  font-weight: 500;
}

#appbar > span .title {
  /* Colour */
  opacity: 0;
}

#appbar > span .title.active {
  /* Colour */
  opacity: 1;
}

.display-1 {
  /* Text */
  font-size: 34px;
  font-weight: 400;
}

.body-2 {
  /* Text */
  font-weight: 500;
}