/* WebLi Main CSS */

/* Mobile-Only Styles */
@media only screen and (max-width: 768px) {
    #appbar {
        /* Spacing */
        padding: 16px;
        /* Size */
        width: calc(100vw - (16px * 2));
    }
    
    #appbar br {
        /* Size */
        height: 16px;
    }
    
    .screen {
        /* Size */
        height: calc(100vh - 56px);
        /* Spacing */
        padding-top: 56px;
    }
    
    .card {
        /* Size */
        width: calc(100vw - ((16px * 2) + (16px * 2)));
        /* Spacing */
        margin: 16px;
    }
}

/* Desktop-Only Styles */
@media only screen and (min-width: 769px) {
    #appbar {
        /* Position */
        z-index: 5;
        /* Spacing */
        padding: 20px;
        /* Size */
        width: calc(100vw - (20px * 2));
    }
    
    #appbar br {
        /* Size */
        height: 20px;
    }
    
    .screen {
        /* Size */
        height: calc(100vh - 64px);
        /* Spacing */
        padding-top: 64px;
    }
    
    .card {
        /* Size */
        width: calc(65vw - (16px * 2));
        /* Spacing */
        margin: 36px auto;
    }
}

/* Animations */

@keyframes card-enter {
    0%     {bottom: -10px; opacity: 0;}
    100% {bottom: 0px; opacity: 1;}
}

/* Default Styles */

body {
    /* Position */
    position: fixed;
    top: 0px;
    left: 0px;
    /* Size */
    width: 100vw;
    height: 100vh;
    /* Colour */
    background-color: #FAFAFA;
}

#appbar {
    /* Position */
    position: fixed;
    top: 0px;
    left: 0px;
    height: 24px;
    /* Colour */
    background-color: #4CAF50;
    color: #FFFFFF;
    /* Animation */
    transition: height 0.2s cubic-bezier(.55, 0, .1, 1);
}
#appbar br {
    /* Misc */
    opacity: 0px;
}

.screen {
    /* Position */
    position: fixed;
    bottom: -100vh;
    left: 0px;
    /* Size */
    width: 100vw;
    /* Animation */
    transition: bottom 0.4s cubic-bezier(.55, 0, .1, 1);
}

.screen.active {
    /* Position */
    bottom: 0px;
}

.card {
    /* Position */
    position: relative;
    /* Size */
    height: auto;
    /* Spacing */
    padding: 16px;
    /* Colour */
    background-color: #FFFFFF;
    /* Animation */
    animation: card-enter 1s cubic-bezier(.55, 0, .1, 1);
}

.card#welcome {
    /* Size */
    width: 50vw;
    /* Spacing */
    margin: 36px auto;
    margin-bottom: 8px;
    padding: 16px;
    /* Alignment */
    text-align: center;
}

.card#welcome .display-1 {
    /* Misc */
    display: inline-block;
    /* Spacing */
    margin-bottom: 10px;
}

div.section-text {
    /* Size */
    height: 36px;
    /* Text */
    line-height: 36px;
    /* Spacing */
    margin: 0px 16px;
    /* Colour */
    color: rgba(0, 0, 0, 0.54);
}

div.section-text button.flat {
    /* Misc */
    opacity: 0.54;
}

.spinner-container {
    /* Spacing */
    margin: 16px auto;
    /* Alignment */
    text-align: center;
    /* Misc */
    opacity: 1;
    /* Animation */
    transition: opacity 0.4s cubic-bezier(.55, 0, .1, 1);
}

.your-lists {
    /* Position */
    position: relative;
}

.msg {
    /* Position */
    position: absolute;
    top: -8px;
    /* Size */
    width: 100vw;
    /* Misc */
    opacity: 0;
    /* Alignment */
    text-align: center;
    /* Animation */
    transition: opacity 0.4s cubic-bezier(.55, 0, .1, 1) 0.5s;
}

.msg span {
    /* Misc */
    display: block;
    /* Spacing */
    margin-top: 8px;
}